<div class="ui container home">
  <h1 class="welcomeText">Willkommen bei KWM Go Student</h1>
  <i>
    <p>Du bist auf der Suche nach einer passenden Nachhilfe im KWM Studiengang?</p>
    <p>Dann bist <b>DU</b> bei <b>UNS</b> genau richtig! Hier findest du das richtige Angebot für dich.</p>

    <p>Viel Spaß und Kopf hoch! Mit uns schaffst du das Studium im Handumdrehen :)</p>
  </i><br>
  <button class="ui right labeled icon button teal" routerLink="../offers">
    <i class="right arrow icon"></i>
    Zur Kursübersicht
  </button>
  <img src="assets/undraw_Online_learning_re_qw08.png" alt="teaching image illustration" class="imageHome">

</div>



